#*.pickle filter=lfs diff=lfs merge=lfs -text
#option_data/data/options[[:space:]]chain/**/*.pickle filter=lfs diff=lfs merge=lfs -text
#option_data/data/options[[:space:]]chain/**/* filter=lfs diff=lfs merge=lfs -text
